@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-rp-text bg-rp-base;
}

.App {
    text-align: center;
    padding: 1rem;
    overflow: hidden;
    height: 100%;
}

.Home {
    display: flex;
    text-align: left;
    flex-direction: column;
    gap: 1rem;
}

.Home li {
    @apply bg-rp-overlay py-2 pl-2;
}

.AlbumArt {
    width: 8rem;
    height: 8rem;
}

.ArtistArt {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.Grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
}

.Grid li {
    max-height: 10rem;
}

.Grid p {
    width: 7rem;
    overflow: hidden;
    white-space: nowrap;
    font-size: smaller;
    text-overflow: ellipsis;
    display: inline-block;
}

.Table {
    @apply  text-rp-text;
    width: 100%;
    text-align: left;
    table-layout: fixed;
    font-size: 2rem;
    white-space: nowrap;
}

.Table td {
    text-overflow: ellipsis;
    overflow: hidden
}
